body {
    background:black;
    display: flex;
}

.image-gallery {
    flex-direction: row;
}

.navbar .navLinks {
    display: flex;
    flex-direction: row;
    /* align-items:center; */
    justify-content: center;
    width: 100%;
    border: 5px solid white;
    
}
/*git add*/

.navbar a {
    list-style: none;
    display: flex;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color:#B95696;
    /* text-decoration: underline; */
}

.navbar a:visited {
    color:#5C0501;
    text-decoration: underline;
}

.footnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footnav a {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #5C0501;
    color: #f18c00;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.footnav a:hover {
    color:#5c0501;
    background-color: #f18c00;
    text-decoration: line-through;
}

.footnav section {
    flex-direction: column;
    border-bottom: 4px solid #f18c00;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: #f18c00 4px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
}

p {
    background: black;
    color: white;
    border: 5px solid white;
}